@font-face {
  font-family: MyRegularFont;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: heading-font;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MyRegularFont;
  letter-spacing: 2px;
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
.heading {
  font-family: heading-font;
}
@media (min-width: 576px) {
  p {
    /* font-size: 18px; */
  }
}

.view-more-btn {
  text-align: center;
  padding: 1rem 0;
}
.section-title {
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 992px) {
  .section-title {
    padding: 2rem 0;
  }
}
.section-title h3 {
  font-size: 38px;
}
@media (max-width: 767px) {
  .section-title h3 {
    font-size: 23px;
  }
}
.view-more-btn a {
  text-decoration: none;
  border: 1px solid mediumpurple;
  padding: 6px 8px;
  background-color: mediumpurple;
  color: white;
}
.view-more-btn a:hover {
  background-color: transparent;
  color: mediumpurple;
}

img {
  width: 100%;
}
.inner-wrapper {
  padding: 1rem 0;
}
@media (min-width: 992px) {
  .inner-wrapper {
    padding: 3rem 0;
  }
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #27233ef5;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}

.sidebar .closeSidebar {
  border-bottom: 1px solid gray;
}
.sidebar .closeSidebar img {
  width: 130px;
  margin-left: 24px;
  margin-top: 11px;
  margin-bottom: 10px;
  background-color: white;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closeSideNavbtn {
  position: absolute;
  top: -8px;
  /* right: 25px; */
  font-size: 36px;
  text-align: right;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* Style the sidenav links and the dropdown button */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .sidebar-dropdown-content {
  background-color: #f36f21;
}

.sidebar .dropdown-item {
  font-size: 16px;
}
.header-container .closeSidebar img {
  width: 100%;
}

/* SIDEBAR  */

.navbar-fixed-top {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: slide-in 1s forwards;
  background-color: white;
  height: 10vh;
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar-scrolled-logo {
  /* position: fixed;
    z-index: 2;
    background-color: white; */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.header-container .header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header-container .header-menu {
    justify-content: space-around;
  }
}
.header-container .header-menu .header-logo img {
  width: 130px;
  height: auto;
}
@media (min-width: 767px) {
  .header-container .header-menu .header-logo {
    padding-left: 6%;
  }
}

.header-container .header-menu .navbar-hyperlinks {
  margin: auto;
}
.header-container .header-menu .hyper-links {
  display: flex;
  justify-content: center;
  padding-left: 0 !important;
  margin: auto;
  gap: 7%;
}
.header-container .header-menu .navbar-hyperlinks {
  display: none;
}
.header-container .header-menu .navbar-hyperlinks li {
  position: relative; /* Required for absolute positioning of :before */
  list-style: none;
}

.header-container .header-menu .navbar-hyperlinks li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #27233e;
  transition: width 0.3s ease;
}

.header-container .header-menu .navbar-hyperlinks li:hover:before {
  width: 100%; /* Expand the underline to 100% on hover */
}
/* active page through DOM */
.active-link::before {
  width: 100% !important;
}
/* active page through DOM */

.header-container .header-menu .submenu {
  display: none;
  position: absolute;
  left: 0%;
  width: max-content;
  top: 109%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  padding: 10px 12px;
}
.header-container .header-menu .submenu li {
  padding: 10px;
}
.header-container .header-menu .submenu a {
  font-size: 27px;
}

.header-container .header-menu .nested-submenu-1,
.header-container .header-menu .nested-submenu-2,
.header-container .header-menu .nested-submenu-3 {
  display: none;
  position: absolute;
  left: 105%;
  width: max-content;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 1;
  padding: 2px 3px;
  max-height: 80vh;
  overflow-y: auto;
}

.header-container .header-menu .nested-submenu-1 li,
.header-container .header-menu .nested-submenu-2 li,
.header-container .header-menu .nested-submenu-3 li {
  display: block;
  padding: 4px 10px;
}

.header-container .header-menu .nested-submenu-1 a,
.header-container .header-menu .nested-submenu-2 a,
.header-container .header-menu .nested-submenu-3 a {
  color: #333; /* Adjust the text color as needed */
  text-decoration: none;
}

.header-container .header-menu .nested-submenu-1 a li:hover::before,
.header-container .header-menu .nested-submenu-2 a li:hover::before,
.header-container .header-menu .nested-submenu-3 a li:hover::before {
  color: orange;
  height: 0px !important;
  width: 0px !important;
}

.header-container .header-menu .nested-submenu-1 a li:hover,
.header-container .header-menu .nested-submenu-2 a li:hover,
.header-container .header-menu .nested-submenu-3 a li:hover {
  color: #f36f21;
}

.header-container .header-menu .dropdown:hover .submenu {
  display: block;
  position: absolute;
  top: 98%;
}
.header-container .header-menu .nested-nav-hyperlink:hover .nested-submenu-1,
.header-container .header-menu .nested-nav-hyperlink:hover .nested-submenu-2,
.header-container .header-menu .nested-nav-hyperlink:hover .nested-submenu-3 {
  display: block;
  position: absolute;
  top: 10%;
  left: 100%;
}
.header-container .header-menu .dropdown .nested-nav-hyperlink a {
  color: #082644;
  font-size: 17px;
  /* padding: 10px 17px; */
}

.navbar-contact-header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 3px;
}

.navbar-contact-header .single-contact {
  text-align: center;
}
.navbar-contact-header .single-contact .text {
  padding: 5px 0px;
}
@media (max-width: 576px) {
  .navbar-contact-header .single-contact .text {
    display: none;
  }
}
.navbar-contact-header .single-contact .text a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-container .header-menu .navbar-hyperlinks li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

@media (min-width: 768px) {
  .header-container .header-logo #navbar-toggler {
    display: none;
  }
  .header-container .header-menu #navbar-hyperlinks {
    display: block !important;
  }
}
.header-container .header-menu .navbar-hyperlinks .hyper-links .nav-hyperlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.header-container .header-logo #navbar-toggler-button {
  border: none;
  background: none;
  padding-right: 1rem;
}

.header-container .header-logo #navbar-toggler-button i {
  color: #27233e;
  /* box-shadow: 1.5px 1.5px 8px -1px black; */
  padding: 4px 10px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .header-container .header-logo .navbar-toggler {
    margin-bottom: 30px;
  }
}
.header-container .header-logo .navbar-toggler {
  display: flex;
  justify-content: end;
}

.header-menu .navbar-logo-name {
  margin: auto !important;
}
.header-menu .navbar-logo-name p {
  margin-bottom: 0 !important;
  font-family: myFontMonto;
  color: #27233e;
}

@media (max-width: 767px) {
  .header-container .header-topbar {
    display: none;
  }
}
.header-container .header-topbar a {
  color: white;
}
.header-container .header-topbar .topbar-inner-wrapper {
  background: linear-gradient(to right, #272064, #92258b);
  padding: 1rem 0;
}
.header-container .header-topbar .contact-box {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  padding-left: 1rem;
  border-right: 1px solid white;
}
.header-container .header-topbar .social-media-box {
  display: flex;
  justify-content: space-evenly;
  gap: 0.3rem;
}
.header-container .header-topbar .contact-box a i {
  padding-right: 6px;
}
/* HERO BANNER  */
.hero-banner {
  position: relative;
}

.hero-banner .banner-content {
  position: absolute;
  top: 6%;
  left: 3%;
  width: 60%;
}
.hero-banner .banner-image {
  height: 500px;
  overflow: hidden;
}
@media (max-width: 454px) {
  .hero-banner .banner-image {
    height: 390px !important;
  }
  .hero-banner .banner-image img {
    height: 100%;
  }
}

.hero-banner .banner-content .heading p {
  font-size: 30px;
  font-family: heading-font;
}
@media (min-width: 1200px) {
  .hero-banner .banner-content .heading p {
    font-size: 50px;
  }
  .hero-banner .banner-content {
    width: 40%;
  }
}
/* HERO BANNER  */

/* ONE STEP SOLUTION  */

/* ONE STEP SOLUTION  */

/* CONDITIONS TREATED */
.conditions-treated .section-title h3 {
  color: white;
}
.conditions-treated {
  position: relative;
}
.conditions-treated {
  /* position: absolute; */
  /* padding: 1rem 0; */
  background: url("../images/service-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  /* background-position: right; */
}
.conditions-treated .treatments .treatment-card-wrapper {
  padding: 1rem;
}
.conditions-treated .treatments .treatment-card {
  border: 0.4px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.3rem;
  color: white;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: rgba(31, 33, 65, 0.274);
}

.conditions-treated .treatments .treatment-card .icon {
  width: 100px;
  overflow: hidden;
  padding: 19px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.conditions-treated .treatments .treatment-card .card-title {
  font-weight: 600;
}
/* CONDITIONS TREATED */

/* TESTIMONIALS  */
.testimonial-section {
  background-color: rgb(230, 228, 228);
}
.testimonial-section .testimonials .mySlides {
  padding: 1rem;
}

.testimonial-section .testimonials .mySlides .client {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.849);
  /* border-radius: 2px; */
  border-left: 5px solid #652576;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.testimonial-section .testimonials .mySlides .client::before {
  /* content: '';
  position: absolute;
  background: url('../images//quote.png');
  top: 0;
  right: 0;
  width: 60px;
  height: 60px; */
}
.testimonial-section .testimonials .client .testimonial .review p {
  font-size: 14px;
}
@media (min-width: 576px) {
  .testimonial-section .testimonials .client .testimonial .review p {
    font-size: 14px;
  }
}
.testimonial-section .testimonials .client .testimonial .name p {
  font-weight: 600;
  color: rgb(47, 47, 48);
}

/* TESTIMONIALS  */

/* ACHIEVEMENT  */
.achievement-section {
  position: relative;
  background: url("../images/dc.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.achievement-section .achievements {
  text-align: center;
}
.achievement-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000098;
}
.achievement-section .achievement {
  color: white;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.achievement-section .achievement .image {
  border: 2px solid white;
  overflow: hidden;
  border-radius: 50%;
  padding: 1.3rem;
  width: 130px;
  height: 130px;
}

.achievement-section .achievements .achievement .count span {
  font-size: 50px;
  font-weight: 800;
  text-shadow: 5px 4px 4px #00000087;
}
.achievement-section .achievements .achievement .title p {
  font-size: 20px;
  font-weight: 600;
}
/* ACHIEVEMENT  */



/* INTEGRATED SOLUTIONS  */

.integrated-solutions .solution{
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.integrated-solutions .main .middle{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
}
.integrated-solutions .main .right,
.integrated-solutions .main .left
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.integrated-solutions .main .solution .icon {
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 50%;
  padding: 1.3rem;
  width: 130px;
  height: 130px;
}

.integrated-solutions .solution .description p{
  font-size: 14px;
}

.integrated-solutions .middle .solution-centre-icon{
  width: 130px;
}
/* INTEGRATED SOLUTIONS  */










/* FOOTER  */
footer{
  background-color: #000000;
  color: white;
}

footer a{
  color: white;
}

footer .footer-sub-section .title{
  padding-bottom: 1rem;
}
footer .footer-rights{
  text-align: center;
}
/* FOOTER  */